.plan-section {
  background-color: rgba(0, 255, 76, 0.589);
  border: 3px solid black;
  border-left: none;
  width: 70%;
  margin: 2.5rem 0;
  position: relative;
  overflow: hidden;
}
@media (max-width: 505px) {
  .plan-section {
    width: 85%;
  }
}

.RECOMMENDED {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 1rem;
  background-color: red;
  color: white;
  padding: 0.5rem 2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: rotateZ(45deg) translateX(3.7rem);
}

.plan-section:hover,
.plan-section:active {
  box-shadow: 10px 10px 10px aquamarine;
  animation: rise-up 1s ease-out;
}

.plan-section__link {
  text-decoration: none;
  display: block;
  padding: 2rem;
  color: inherit;
}

.package_subtitle {
  color: #f0ffff;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: darkgreen;
}

.package_title {
  font-size: 2rem;
  color: white;
  text-shadow: 0.3rem 0.3rem black;
  font-weight: bold;
}

.package_info {
  border: 1px solid #0e4f1f;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: white;
}

#premium {
  background: rgba(0, 255, 76, 0.5);
}

#plus {
  background: rgba(0, 255, 76, 0.5);
  margin-top: 5.5rem;
}

#free {
  background: rgba(0, 255, 76, 0.5);
  float: right;
  border-right: none;
  border-left: 3px solid black;
}

.background {
  background: url("../images/plans-background.jpg") center/cover;
  top: 3rem;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.clearfix {
  clear: both;
}

@media (min-width: 1500px) {
  main {
    max-width: 1500px;
    margin: 3rem auto 2.5rem auto;
  }
  .plan-section {
    border: 3px solid black;
  }
  #free {
    border-right: 3px solid black;
  }
}

@keyframes rise-up {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY(0);
  }
}
